
body{
  font-family: monospace;
  background-color: #ffffff!important;
  font-family: roboto, sans-serif;;
}

h1,h2,h3,p{
  color: rgb(22, 18, 18);
}

.light-text{
  color: #e7d6d6
}


/* LOGIN PAGE */
.login-inputs{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.login-btn{
  width: 18em !important; 
  margin-top: 2em;
}
.username-input{
  width: 18em !important; 
  margin-top: 1em;
}

.password-input{
  width: 18em !important; 
  margin-top: 1em;
}

/* NAVIGATION BAR */
nav{
  display: flex;
  justify-content: flex-end;
}

.nav-links{
display: flex;
justify-content: space-around;
list-style: none;
}

.nav-link{
text-decoration: none;
margin-right: 1em;
color: white;
}

/* CREATE ROUTINE PAGE */
.new-exercise-inputs{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em auto;
}

.routine-name{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2em;
}

.routine-name-input{
  width: 13em !important;
}

.routine-name-input:focus, textarea:focus {
  width: 13em !important;
}

.form-control:focus{
  outline:none none solid none !important;
  border-style: none none solid none !important;
}

.submit-btn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}

.bi-pencil{
  margin: auto 1em;
}

.create-routine{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  
}

.create-routine-buttons{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  
}

.add-exercise-button{
  margin: 1em auto;
  width: 15em;
}

.submit-routine-button{
  margin: 1em auto;
}

.submit-cancel{
  display: flex; 
  justify-content: space-between;
  margin: 2em auto;
  width: 15em;
  
}

.number-input-div{
  display: flex;
  justify-content: space-between;
 
}

.bi-trash-fill{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.exercise-inputs{
  width: 16em !important;
  margin-top: 1em !important;
  margin: 0 auto;
}

.number-input{
  width: 5.3em  !important;
  margin: 1em auto !important
}

.sm-labels{
  margin: auto 0.3em;
}

/* ALL ROUTINES PAGE */

.all-routines-header{
  display: flex;
  width: 95%;
  margin: 1em auto;
  justify-content: center;
}

.routines-header-title{
  margin-left: auto;
}
.plus-icon{
  align-self: center;
  margin-left: auto;
}

.default-routines{
  margin: 0 auto;
  display: grid; 
  width:95%;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(14em, 20em));
  justify-content: center;
}

.default-card{
  background-color:#dc281e;
  /* background-color: #BD3F32; */
  padding: .5em 1em;
}

.your-routines {
  margin: 0 auto;
  width:95%;
  display: grid; 
  width:95%;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(14em, 20em));
  justify-content: center;
}

.your-routine{
  background-color: #dc281e;
  padding: .5em 1em;
}

.your-routines-header{
  margin: 1em;
  text-align: center;
}

.default-routines-header{
  margin: 1em;
  text-align: center;
}

.routine-card-header{
  display: flex;
  justify-content: space-between;
}


/* SESSION PAGE */
.session-name{
  text-align: center;
  font-size: 2.5rem;
}

.session-btns{
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-height: 3em;
  margin: 1em auto;
  
}

.rest-timer-btn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none !important;
  opacity:.8 !important;
  box-shadow: none !important;
}

.rest-timer-btn:hover{
  background-color: transparent !important;
  opacity:1 !important;
  border-radius:30px;
}

.exercise-table{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.session-exercise-header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto;
}

.exercise-name{
  font-size: 1.5rem;
}

.exercise-stats{
  display: flex; 
  flex-flow: column wrap;
  justify-content: center
}

.exercise-stat{
  margin: auto 0;
}

.exercise-table{
  display: flex;
  justify-content: space-between;
}

.exercise-diplay-header{
  font-size: 1rem;
}

.table-column{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.check-column{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;

}


/* weight-input-form */

.weight-input-form{
  margin: 0 auto;
}

.weight-num-input{
  width: 100% !important;
  margin-left: 0em !important;
}

.check-btn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}


/* SESSION-CARD */
.session-history-title{
  margin: 1em 0em;
  text-align: center;
}
.session-card-title{
  text-align: center;
  margin-top: .5em;
}

.session-card-details{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto
}

.session-card-data{
  width: 90%;
  margin: 1em auto;
}

.exercise-headers{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  
}

.exercise-header{
  font-size: 1rem;
}
.exercise-card{
  width: 80%;
  margin: 1em auto
}
.exercise-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise-detail{
  margin: .5em 0;
}

.lift-improvements{
  display: flex;
  width: 37%;

}

.average-improvement{
  margin: 0 auto;
}

.trophy-icon{
  margin: auto 0;
}

.improvement-icon{
  margin-top: -.5em
}

/* EXERCISE CARD FROM SESSION HISTORY */
.session-card-header{
  margin: 3em .25em;
  padding: 1.5em 0em;
  background-color: rgb(12, 12, 12);
}

.session-card-header-half{
  margin: 3em .25em; 
  padding: 1.5em 0em;
  background-color: rgb(12, 12, 12);
}

.session-card-title-half{
  text-align: left;
  font-size: 1.5rem;
  margin: .5em;
}

.session-card-details-half{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 95%;
  margin: 0.5em auto;

}

.session-card-data-half{
  width: 90%;
  margin: 1em auto;
}

.exercise-header-half{
  font-size: 1rem;
  width:40%;
  margin: .5em auto;
}

.exercise-headers-half{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.session-card-top-half{
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.nav-dropdown{
  width: 95%;
  margin: 1em auto;
}