nav{
  display: flex;
  justify-content: flex-end;
}

.nav-links{
display: flex;
justify-content: space-around;
list-style: none;
}

.nav-link{
text-decoration: none;
margin-right: 1em;
color: white;
}

.exerciseCard{
  max-width: 90%;
  margin: 0 auto;
}
.routine-column-names{
  display: flex;
  justify-content: space-between;
}