<link rel="stylesheet" type="text/css" href="css/home.css" />

<body>
    <nav>
        <ul class="nav-links">
            <li ><a href="/sessions" class="nav-links">Sessions</a></li>
            <li><a href="/new-session" class="nav-links">New Session</a></li>
        </ul>
    </nav>

</body>