<link rel="stylesheet" type="text/css" href="css/register.css" />

<body>
    <h1>Gainz Tracker</h1>

    <% if (locals.message) { %>
        <p><%= message %></p>
    <% } %>

    <div class="registration-box">
        <p class="slogan">Keep Track of Your Progress</p>
        <form action="/register" method="POST" autocomplete="off">
            <label>User Name</label>
            <input name="userName" type="text" >
            <label>Password</label>
            <input name="password" type="text">
            <input type="submit" value="Register"> 
        </form>

        <div class="login-redirect">
            <p>Already Have An Account?</p>
            <a href="/">Login</a>
        </div>
    </div>
</body>






