body{
    font-family: sans-serif;
    background-color: #121212;
    color: white;
}
.app-name{
    color: #EEE870;
    text-align: center
}

.login-text{
    text-align: center; 
}
.registration-box{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: space-between;
}

.slogan{
    text-align: center
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

input{
    margin-bottom: 1.5em;
    width: 50%
}

.registration-redirect{
    display:flex;
    align-items: center;
    justify-content: center;
}

a{
    margin-left: .5em;
    color: blue;
}